.food-menu {
  background-color: white;
margin-top:30px;
  height: 100%;
  width: 80%;
  border-radius: 5px;
  font-family: "Rock Salt", cursive;
  margin-bottom:70px;
  z-index:1;
}

.tacos {
  text-align: center;
  font-family: 'Lobster', cursive;
}
.menu-column {
  padding: 5px;
}
.menu-title {
  text-align: center;
  font-size: 15px;
  font-family: 'Lobster', cursive;
  
}

.menu-description {
  text-align: center;
  font-size: 10px;
}
